#container {
    height: 600px;
    width: 970px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #1A335D;

    /* DEBUG */
    /* background-image: url('./../images/jsloups.png'); */
    background-size: contain;
    background-repeat: no-repeat;
}
/* -------------------------------------------------------------------------- */
/* Row-1 */
#r1 { background: #CF2F35;
  height: 60px;
  width: 945px;
  margin-left: 12px;
  border-radius: 8px;

  /* DEBUG: */
  /* opacity: 0.5; */
}
#r1 h1 {
    margin-top:     0px;
    margin-right:   0px;
    margin-bottom:  0px;
    margin-left:   10px;
    padding-top:   15px;
    padding-right:  0px;
    padding-bottom: 0px;
    padding: left:  0px;
    font-size:   26.5px;
}
/* -------------------------------------------------------------------------- */
/* Row-2 Column-1 */
#r2-c1 { background: #297D8C;
  height:        188px;
  width:         169px;
  margin-left:   12px;
  margin-top:    16px;
  border-radius: 14px;

  /* DEBUG */
  /* opacity: 0.5; */
}
/* -------------------------------------------------------------------------- */
#r2-c2 { background: #0C1721;
  height:        416px;
  width:         759px;
  margin-top:    16px;
  margin-right:   0px;
  margin-bottom:  0px;
  margin-left:   12px;
  border-radius: 14px;

  padding-left: 5px;
  padding-top: 0px;

  /* DEBUG */
  /* opacity: 0.5; */
}
#r2-c1, #r2-c2 {
  display: inline-block;
  vertical-align: top;
}
/* -------------------------------------------------------------------------- */
#r3 { background: #5D6573;
  height:        46px;
  width:        946px;
  margin-top:    14px;
  margin-right:   0px;
  margin-bottom:  0px;
  margin-left:   12px;
  border-radius: 13px;

  /* DEBUG */
  /* opacity: 0.5; */
}
#r3 p {
  padding-top: 10px;
  padding-left: 17px;
}
/* -------------------------------------------------------------------------- */
.main-text-color { color: #C2D7EC; }
.link-color{       color: #68DBE2; }
.eg-color{         color: #7A8AFF; }
#r2-c1-text { font-size: 12px;}
#r2-c2-text { font-size: 12.75px;}
